/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.footer, .header {
    background-color: #f5f5f5;
}

.credit { margin: 20px 0; }
.muted { color: #999999; }

/* Console */
.row.header {
    font-weight: bold;
}
.row.content {
    background: #fff;
    font-size: 15px;
    padding: 2em 0 2em 0;
}
#console {
    font-family: 'Fira Mono', monospace;
}

#guide h1,
#guide h2,
#guide h3 {
    margin-top: 0;
}

.jquery-console-focus .jquery-console-cursor {
    background:#aaa;
    color:#eee
    font-weight:bold
}
.jquery-console-inner {
    height: 20em;
    overflow: auto;
    word-wrap: break-word;
}
.jquery-console-prompt-label {
    color: #8f4e8b;
    font-weight: bold;
}
.jquery-console-message-success {
    color: green;
}
.jquery-console-message-error {
    color: red;
}
